{% extends "base.html" %} {% block title %}The Pugilist's Encyclopedia{% endblock %} 
{% block content %} 
<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-right hide" id="subnav" role='navigation'>
    <button class="toggler closebtn tcolor" id="toggler" type="button" onclick='toggleNav()'>
        <span>
            <img class="manImg" src="./static/caret-right.svg"></img>
        </span>
    </button>
    <div class="navbar-collapse sidebar" id="navbar">
        <div class="navbar-nav collapse show" id="sidebar">
            <ul>
            </ul>
        </div>
    </div>
</nav>
<div class="cont exp" id="cont">
    <h1 class="hidden exp" id="hed">The Pugilist's Encyclopedia</h1>
</div>
<div>
    <div class="row home">
        <div class="col-sm-12">
            <figure class="effect">
                <img src=".\static\1b529f9dd4c2e7124d42187a6fe2c158.gif" alt="Styles">
                <figcaption class="overlay">
                    <h3>Styles</h3>
                    <p>Styles of the Pugilist</p>
                    <p><strong>Tags:</strong> <br></p>
                    <a href="styles" target="_blank" class="overlay">View more</a>
                    <span class="icon">
                        <span class="glyphicon glyphicon-new-window"></span>
                    </span>
                </figcaption> 
            </figure>
        </div>
        <div class="col-sm-12">
            <figure class="effect">
                <img src="" alt="Styles">
                <figcaption>
                    <h3>Stances</h3>
                    <p>Fighting Stances</p>
                    <p><strong>Tags:</strong> <br></p>
                    <a href="" target="_blank">View more</a>
                    <span class="icon">
                        <span class="glyphicon glyphicon-new-window"></span>
                    </span>
                </figcaption> 
            </figure>
        </div>
        <div class="col-sm-12">
            <figure class="effect">
                <img src="" alt="Styles">
                <figcaption>
                    <h3>The Jab</h3>
                    <p>The Jab and its Variants</p>
                    <p><strong>Tags:</strong> <br></p>
                    <a href="" target="_blank">View more</a>
                    <span class="icon">
                        <span class="glyphicon glyphicon-new-window"></span>
                    </span>
                </figcaption> 
            </figure>
        </div>
        <div class="col-sm-12">
            <figure class="effect">
                <img src="" alt="Styles">
                <figcaption>
                    <h3>The Cross</h3>
                    <p>The Cross and its Variants</p>
                    <p><strong>Tags:</strong> <br></p>
                    <a href="" target="_blank">View more</a>
                    <span class="icon">
                        <span class="glyphicon glyphicon-new-window"></span>
                    </span>
                </figcaption> 
            </figure>
        </div>
        <div class="col-sm-12">
            <figure class="effect">
                <img src="" alt="Styles">
                <figcaption>
                    <h3>The Hook</h3>
                    <p>The Hook and its Variants</p>
                    <p><strong>Tags:</strong> <br></p>
                    <a href="" target="_blank">View more</a>
                    <span class="icon">
                        <span class="glyphicon glyphicon-new-window"></span>
                    </span>
                </figcaption> 
            </figure>
        </div>
        <div class="col-sm-12">
            <figure class="effect">
                <img src="" alt="Styles">
                <figcaption>
                    <h3>The Uppercut</h3>
                    <p>The Uppercut and its Variants</p>
                    <p><strong>Tags:</strong> <br></p>
                    <a href="" target="_blank">View more</a>
                    <span class="icon">
                        <span class="glyphicon glyphicon-new-window"></span>
                    </span>
                </figcaption> 
            </figure>
        </div>
        <div class="col-sm-12">
            <figure class="effect">
                <img src="" alt="Styles">
                <figcaption>
                    <h3>Movement</h3>
                    <p>Movements of the Pugilist</p>
                    <p><strong>Tags:</strong> <br></p>
                    <a href="" target="_blank">View more</a>
                    <span class="icon">
                        <span class="glyphicon glyphicon-new-window"></span>
                    </span>
                </figcaption> 
            </figure>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    <footer align="center" class="exp" id="foot">
        <p><strong>Author: Dylan Agyemang</strong><br>
        <a href="mailto:dagyeman12@gmail.com">dagyeman12@gmail.com</a><br>
        <a href="https://discord.gg/jtBUvZaDH2" id="disc" target="_blank" rel="noopener noreferrer">
            <img src="https://img.shields.io/badge/-Discord-%237289d9?style=for-the-badge&logo=discord&logoColor=white">
        </a></p>
    </footer>{% endblock %}